<div class="modal" id="authModal">
    <div class="modal-content">
      <div class="auth-form">
        <div class="auth-form-close"> 
          <span>&times;</span>
        </div>
        <form id="signup-form">  
          <div class="input-icon">
            <input type="text" id="name" name="name" placeholder="Name">
          </div>
          
          <div class="input-icon">
            <input type="email" id="email" name="email" placeholder="Email">
          </div>
          
          <div class="input-icon">
            <input type="password" id="password" name="password" placeholder="Password">
          </div>
      
          <button type="submit">Sign up</button>
      
          <div class="auth-form-options">
            <span><a href="#" id="signin-link">Sign In</a></span>
            <span><a href="#" id="signup-link">Sign Up</a></span>
          </div>
        </form>
      </div>
    </div>
  </div>
    