<div class="cover-modal">
  <div class="modal">
    <button class="modal-btn-close">
      <svg width="20" height="20" class="modal-btn-icon">
        <use href="./images/icons.svg#icon-auth-close"></use>
      </svg>
    </button>

    <div class="modal-cover-content" data-selected-book-id="">
    </div>

    <div class="modal-btn-cover">
      <button type="button" class="modal-btn add">Add to shopping list</button>
      <button type="button" class="modal-btn remove">
        Remove from the shopping list
      </button>
      <!-- <a href="#shoppinglist" class="modal-btn open-list ">Go to basket</a> -->
      <p class="modal-add-text">
        Сongratulations! You have added the book to the shopping list. To
        delete, press the button “Remove from the shopping list”.
      </p>
    </div>
  </div>
</div>

<div class="modal-loading hidden">
  <div class="container-loading">
    <div class="body-loading">
      <div class="loading-spinner"></div>
      <p>Loading...</p>
    </div>
  </div>
</div>