<div class="cover-modal">
    <div class="modal">
        <button class="modal-btn-close">
            <svg width="12" height="12" class="modal-btn-icon">
                <use href="./Icon.svg"></use>
            </svg>
        </button>

        <div class="modal-cover-contant">

        </div>

        <div class="modal-btn-cover">
            <button tipe="button" class="modal-btn add ">Add to shopping list</button>
            <button tipe="button" class="modal-btn remove ">Remove from the shopping list</button>
            <!-- <a href="#shoppinglist" class="modal-btn open-list ">Go to basket</a> -->
            <p class="modal-add-text">Сongratulations! You have added the book to the shopping list. To delete,
                press the button “Remove from the shopping
                list”.</p>
        </div>

    </div>
</div>