<section>
  <div class="container">
    <div class="position">
      <h1 class="title js-title">
        <span class="title-part">Shopping </span>list
      </h1>
      <ul class="list js-list"></ul>
      <div></div>
      <h3 class="shopping-message js-message">
        This page is empty, add some books <br />
        and proceed to order.
      </h3>
      <picture class="js-books">
        <source
          srcset="./images/books1-x-com.png 1x, ./images/books2-x-com.png 2x"
          media="(min-width: 1200px)"
        />
        <source
          srcset="./images/books1-x-tab.png 1x, ./images/books2-x-tab.png 2x"
          media="(min-width: 768px)"
        />
        <source
          srcset="./images/books1-x.png 1x, ./images/books2-x.png 2x"
          media="(max-width: 767px)"
        />
        <img
          class="shopping-books"
          src="./images/books.png"
          alt="фото книг"
          width="265"
        />
      </picture>
    </div>
  </div>
</section>
