.purple-text {
    color: var(--same-blue);

    font-family: 'DM Sans';
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: 52px;
    letter-spacing: -1.92px;
    margin-bottom: 40px;
}

.dark-text {
    color: var(--primary-color);
    font-family: 'DM Sans', sans-serif;
}

.books-container{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    align-content: center;
    gap: 20px;
}
.book-name{
    font-family: DM Sans;
    color: var(--primary-color);
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 18px;
    /* 112.5% */
    letter-spacing: -0.64px;
    text-transform: uppercase;

}
.book-author{
    color: var(--light-gray-text);
    font-family: DM Sans;
    font-size: 12px;
    font-style: italic;
    font-weight: 400;
    line-height: 14px;
    /* 116.667% */
    letter-spacing: -0.48px;
}
.categ-name {
    color: var(--light-gray-text);


    font-family: DM Sans;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.42px;
    text-transform: uppercase;
}

.books-btn {
    color: var(--primary-color);

    font-family: 'DM Sans';
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 18px;
    letter-spacing: -0.14px;
    text-transform: uppercase;
    background-color: #fff;
    padding-left: 28px;
    padding-right: 28px;
    padding-top: 14px;
    padding-bottom: 14px;
    border-radius: 40px;
    border-color: var(--same-blue);
}
