:root {
    --text-color:#757575;
    --titles-text-color-first: #212121;
    --accent-color: #2196F3;
    --accent-color-text: #FFFFFF;
    --background-color: #2f303a;
    --background-color-modal: #188ce8;
    --logo-color: #000000;
    --backing-color: #f5f4fa;
    --header-color: #ececec;
    --portfolio-color: #e5e5e5;
    --clients-color:#afb1b8;
    --accent-color-sec: #1a72b9;
    --bezier-timing: #fff;
}

.footer {
    background-color: #2f303a;
    padding-top: 60px;
    padding-bottom: 60px;
  }
 .footer__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  
  .footer__address {
    -webkit-box-flex: 0;
        -ms-flex-positive: 0;
            flex-grow: 0;
  }

  .footer-address__list {
    margin-top: 20px;
  }
 

  .footer-address__address {
    margin-top: 20px;
    color: #ffffff;
    font-style: normal;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    -webkit-transition: color 250ms var(--bezier-timing);
    -o-transition: color 250ms var(--bezier-timing);
    transition: color 250ms var(--bezier-timing);
  }
  .footer-address__address:hover,
  .footer-address__address:focus {
     color: #2196F3;
    }
    
  .footer-address__contacts {
    color: rgba(255, 255, 255, 0.6);
    font-style: normal;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    -webkit-transition: color 250ms var(--bezier-timing);
    -o-transition: color 250ms var(--bezier-timing);
    transition: color 250ms var(--bezier-timing);
  }
  .footer-address__item {
    margin-bottom: 9px;
  }
  .footer-address__item:last-child {
    margin-bottom: 0;
  }
   @media screen and (max-width: 767px) {
    .footer__container {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      text-align: center;
    }
  }
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    .footer__container {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
      -webkit-box-pack: space-evenly;
          -ms-flex-pack: space-evenly;
              justify-content: space-evenly;
    }
  }
  @media screen and (min-width: 1200px) {
    .footer__container {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: baseline;
          -ms-flex-align: baseline;
              align-items: baseline;
      -webkit-box-pack: justify;
          -ms-flex-pack: justify;
              justify-content: space-between;
    }
  }
  
  @media screen and (min-width: 768px) {
    .footer__address {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      margin-bottom: 60px;
    }
  }
  @media screen and (min-width: 1200px) {
    .footer__address {
      -webkit-box-align: start;
          -ms-flex-align: start;
              align-items: flex-start;
      margin-right: 70px;
      text-align: center;
    }
  }
  
  .footer-address__list {
    font-style: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
  }
  @media screen and (min-width: 1199px) {
    .footer-address__list {
      margin-bottom: 0px;
      text-align: left;
    }
  }
  @media screen and (max-width: 1199px) {
    .footer-address__list {
      margin-bottom: 0px;
      text-align: center;
    }
  }
  
  .footer__title {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #ffffff;
  }
  @media screen and (min-width: 1200px) {
    .footer__title {
      text-align: left;
    }
  }
  @media screen and (max-width: 1200px) {
    .footer__title {
      text-align: center;
    }
  }

        @media only screen and (max-width: 767px) {
          .fsocial__title {
            margin-bottom: 15px
          }
        }
    
        @media only screen and (max-width: 767px) {
          .footer-address__list {
            margin-bottom: 15px;
          }
        }
  
  .fsocial__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-top: 20px;
  }
  
  .fsocial__item {
    width: 44px;
    height: 44px;
    margin-right: 10px;
  }
  
  .fsocial__item:last-child {
    margin-right: 0;
  }
  
  .fsocial__link {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    color: #afb1b8;
    background: rgba(255, 255, 255, 0.1);
    -webkit-transition: fill 250ms var(--bezier-timing), background-color 250ms var(--bezier-timing);
    -o-transition: fill 250ms var(--bezier-timing), background-color 250ms var(--bezier-timing);
    transition: fill 250ms var(--bezier-timing), background-color 250ms var(--bezier-timing);
  }
  
  .fsocial__icon {
    fill: currentColor;
  }
  
  .fsocial__link:hover,
  .fsocial__link:focus {
    fill: var(--accent-color-text);
    background-color: #2196F3;
  }
  
  .fsocial__link:hover .fsocial__icon,
  .fsocial__link:focus .fsocial__icon {
    fill: var(--accent-color-text);
  }
  
  .fsocial-title {
    text-align: center;
    margin-bottom: 60px;
  }
  @media screen and (min-width: 1200px) {
    .fsocial-title {
      margin-right: 93px;
      margin-bottom: 0px;
    }
  }
  @media screen and (min-width: 480px) {
    .fsocial-title {
      margin-top: 60px;
      margin-bottom: 60px;
    }
  }
  
  .subscribe__title {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #ffffff;
  }
  .subscribe__input::-webkit-input-placeholder {
    font-size: 16px;
    line-height: 1.25;
    display: -webkit-box;
    display: flex;
    -webkit-box-align: center;
            align-items: center;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
  }
  .subscribe__input::-moz-placeholder {
    font-size: 16px;
    line-height: 1.25;
    display: flex;
    align-items: center;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
  }
  .subscribe__input:-ms-input-placeholder {
    font-size: 16px;
    line-height: 1.25;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
        align-items: center;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
  }
  .subscribe__input::-ms-input-placeholder {
    font-size: 16px;
    line-height: 1.25;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
        align-items: center;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
  }
  .subscribe__input::placeholder {
    font-size: 16px;
    line-height: 1.25;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
  }
  
  @media screen and (min-width: 1200px) {
    .subscribe {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: end;
          -ms-flex-align: end;
              align-items: flex-end;
    }
  }
  @media screen and (max-width: 480px) {
    .subscribe {
      width: 100%;
    }
  }
  
  @media screen and (min-width: 1200px) {
    .subscribe__div {
      margin-right: 12px;
    }
  }
  
  .subscribe__title {
    display: block;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #ffffff;
    margin-bottom: 20px;
    text-align: center;
  }
  @media screen and (min-width: 1200px) {
    .subscribe__title {
      text-align: left;
    }
  }
  
  .subscribe__input {
    width: 100%;
    height: 50px;
    padding: 15px 16px;
    background-color: inherit;
    border: 1px solid rgba(255, 255, 255, 0.3);
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
            filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    margin-bottom: 20px;
  }
  .subscribe__input::-webkit-input-placeholder {
    font-size: 16px;
    line-height: 1.25;
    -webkit-box-align: center;
            align-items: center;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
  }
  .subscribe__input::-moz-placeholder {
    font-size: 16px;
    line-height: 1.25;
    align-items: center;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
  }
  .subscribe__input:-ms-input-placeholder {
    font-size: 16px;
    line-height: 1.25;
    -ms-flex-align: center;
        align-items: center;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
  }
  .subscribe__input::-ms-input-placeholder {
    font-size: 16px;
    line-height: 1.25;
    -ms-flex-align: center;
        align-items: center;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
  }
  .subscribe__input::placeholder {
    font-size: 16px;
    line-height: 1.25;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
  }
  @media screen and (max-width: 480px) {
    .subscribe__input {
      width: 100%;
    }
  }
  @media screen and (min-width: 480px) {
    .subscribe__input {
      width: 450px;
      margin-left: auto;
      margin-right: auto;
    }
  }
  @media screen and (min-width: 1200px) {
    .subscribe__input {
      width: 358px;
      margin-bottom: 0px;
    }
  }
  
  .subscribe__submit {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    font-family: Roboto, sans-serif;
    padding: 10px 28px;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.06em;
    color: #ffffff;
    margin: auto;
    background-color: #2196F3;
    width: 200px;
    height: 50px;
    border: 0px;
    border-radius: 4px;
    -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    cursor: pointer;
    -webkit-transition: -webkit-transform 250ms var(--bezier-timing);
    transition: -webkit-transform 250ms var(--bezier-timing);
    -o-transition: transform 250ms var(--bezier-timing);
    transition: transform 250ms var(--bezier-timing);
    transition: transform 250ms var(--bezier-timing), -webkit-transform 250ms var(--bezier-timing);
  }
  .subscribe__submit:hover, .subscribe__submit:focus {
    background-color: #2196F3;
    -webkit-transition: -webkit-transform 250ms var(--bezier-timing);
    transition: -webkit-transform 250ms var(--bezier-timing);
    -o-transition: transform 250ms var(--bezier-timing);
    transition: transform 250ms var(--bezier-timing);
    transition: transform 250ms var(--bezier-timing), -webkit-transform 250ms var(--bezier-timing);
  }
  @media screen and (min-width: 1200px) {
    .subscribe__submit {
      padding: 0px;
      margin: 0px;
    }
  }
  