/**
  |============================
  | FUNDS
  |============================
*/

.funds {
    max-width: 335px;
    max-height: 460px;

    flex-shrink: 0;
    border-radius: 16px;
    background: radial-gradient(189.32% 190.93% at 59.76% -23.42%, #4F2EE8 18.03%, #FFF 100%);
    box-shadow: 0px 10px 10px 0px rgba(245, 245, 247, 0.10);
    padding: 24px 52px 20px 40px;
}

@media only screen and (min-width: 768px) {
    .funds {
        width: 335px; /*REDUCE FOR PADDINGS*/
        max-height: 474px;
        padding-bottom: 24px;
    }
}

@media only screen and (min-width: 1280px) {
    .funds {
        width: 356px;
        max-width: none;
        margin-bottom: auto;

    }
}

.support {
    display: flex;
    flex-direction: row;
    gap: 12px;
    align-items: center;
    margin-bottom: 44px;
}

@media only screen and (min-width: 768px) {
    .support {
        margin-bottom: 40px;
    }
}

.sup-title {
    color: var(--same-white);
    font-family: 'DM Sans', sans-serif;
    font-size: 22px;
    line-height: 1.1;
    letter-spacing: -0.04em;
}

@media only screen and (min-width: 768px) {
    .sup-title {
        font-size: 24px;
        line-height: 1.17;
    }
}

.trident-icon {
    fill: var(--same-white);
}

.organizations {
    margin-bottom: 15px;
}

@media only screen and (min-width: 768px) {
    .organizations {
        margin-bottom: 24px;
    }
}

.org-list {
    display: flex;
    flex-direction: column;
    gap: 20px;
    overflow: hidden;
    height: 292px;
}

.org-item {
    color: var(--same-white);
    font-family: DM Sans;
    font-size: 14px;
    line-height: 1.2;
    letter-spacing: -0.04em;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 16px;
}

.org-img {
    max-width: 130px;
    max-height: 32px;
    filter: brightness(0) invert(1);
}

.btn-up {
    margin: 0 auto;
    ;
    width: 32px;
    height: 32px;
    border-radius: 50px;
    border: 3px solid rgba(53, 53, 147, 0.1);
    background-color: var(--same-white);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 6px;
}

@media only screen and (min-width: 768px) {
    .btn-up {
        width: 38px;
        height: 38px;
        padding: 8px;
    }
}

.active-btn {
    background-color: var(--same-blue);
    border-color: rgba(135, 125, 176, 0.626);
}

.icon-arrow {
    fill: var(--same-blue);
}

.transform {
    fill: var(--secondary-color);
    transform: rotate(180deg);
    transition: all .5s ease-in-out;
}