.no-scroll {
    overflow: hidden;
}

.cover-modal.visible-element {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}

.cover-modal {
    width: 100%;
    height: 100%;
    background-color: #11111166;
    filter: grayscale(40%);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    transition: opacity 300ms linear, visibility 300ms linear;
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
}

.modal {
    max-width: 332px;
    max-height: 825px;
    background-color: var(--secondary-color);
    border: 2px solid var(--primary-color);
    border-radius: 18px;
    padding: 40px 24px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);
    z-index: 1;
}

@media screen and (min-width:768px) {
    .modal {
        max-width: 579px;
        max-height: 465px;
    }
}

.modal-btn-close {
    position: absolute;
    background-color: transparent;
    border-radius: 50%;
    padding: 0;
    top: 12px;
    right: 12px;
    width: 24px;
    height: 24px;
    border: 1px solid var(--same-blue);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 22px;
    height: 22px;
    transition: box-shadow 250ms linear, height 100ms linear, width 100ms linear;
}

.modal-btn-close:hover {
    box-shadow: 0px 0px 7px 2px var(--same-blue), 0px 0px 3px 1px #7f70c5 inset;
    width: 25px;
    height: 25px;
}

.modal-btn-icon {
    stroke: var(--same-blue);
    transition: fill 250ms linear, stroke 250ms linear;
    pointer-events: none;
    stroke: var(--primary-color);
}

.modal-cover-content {
    margin-bottom: 44px;
}

@media screen and (min-width:768px) {
    .modal-cover-content {
        display: flex;
        gap: 24px;
        margin-bottom: 40px;
    }
}

.modal-img {
    max-width: 287px;
    margin-bottom: 14px;
}

@media screen and (min-width:768px) {
    .modal-img {
        margin: 0;
        max-width: 192px;
    }
}

.modal-title {
    margin-bottom: 4px;
    font-weight: 700;
    font-size: 16px;
    line-height: 18px;
    color: var(--primary-color);
}

.modal-book-author {
    margin-bottom: 18px;
    font-weight: 400;
    font-style: italic;
    font-size: 12px;
    line-height: 14px;
    color: var(--light-gray-text);
}

.modal-text {
    margin-bottom: 14px;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    color: var(--primary-color);
}

.modal-list {
    display: flex;
    align-items: center;
    gap: 20px;
}

.modal-icon {
    filter: grayscale(100%);
    transition: filter 250ms linear
}

.modal-icon:hover {
    filter: drop-shadow(0px 3px 3px var(--hover))
}

.modal-btn {
    border: 2px solid var(--same-blue);
    padding: 14px 28px;
    border-radius: 40px;
    background-color: transparent;
    font-weight: 700;
    font-size: 14px;
    line-height: 18px;
    transition: box-shadow 250ms linear;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    color: var(--primary-color);
}

@media screen and (min-width:768px) {
    .modal-btn {
        width: 499px;
    }
}

.modal-btn:hover {
    box-shadow: 0px 0px 5px 1px var(--location-text-color), 0px 0px 8px 1px #7f70c5 inset;
}

.modal-btn:active {
    box-shadow: 0px 0px 7px 2px var(--location-text-color), -1px -1px 13px 1px #7f70c5 inset;
}

.add {
    margin-bottom: 10px;
}

.remove {
    display: none;
    margin-bottom: 10px;
}

.open-list {
    margin-bottom: 10px;
    display: none;
    color: var(--primary-color);
    width: 210px;
}

@media screen and (min-width:768px) {
    .open-list {
        width: 450px;
    }
}

.modal-add-text {
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    color: #B4AFAF;
    display: none;
}

/* Classes for another modal window - the 'Loading...' screen */
.modal-loading {
    background-color: rgba(82, 48, 232, 0.5);
    /* Transparent dimmed overlay */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: table;
}

.modal-loading.hidden {
    display: none;
}

.modal-loading .container-loading {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    width: 100%;
}

.modal-loading .body-loading {
    display: inline-block;
    color: var(--accent-color);
    padding: 10px;
}

.loading-spinner {
    width: 30px;
    height: 30px;
    border: 2px solid var(--accent-color);
    border-radius: 50%;
    border-top-color: #0001;
    display: inline-block;
    animation: loadingspinner .7s linear infinite;
}

@keyframes loadingspinner {
    0% {
        transform: rotate(0deg)
    }

    100% {
        transform: rotate(360deg)
    }
}