.container {
  display: flex;
  flex-wrap: wrap;


}

.img {
    width: 100px;
    height: 142px;
    object-fit: cover;
}

.info{
  margin-left: 14px;
}
/* .list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
} */
.card-item {
  display: flex;
  position: relative;

  width: 335px;
  min-height: 170px;
  margin-bottom: 20px;
  padding: 14px;

  border-radius: 16px;
  border: 2px solid #4F2EE8;
  background: #fcfcfc;
}

.info {
display: flex;
flex-wrap: wrap;
}

.shopping_title{
  margin-bottom: 4px;

  font-family: 'DM Sans';
  font-weight: 700;
  font-size: 16px;
  line-height: 1.12;

  color: var(--primary-color);
}

.list_name {
  margin-bottom: 8px;

  font-family: 'DM Sans';
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  color: #B4AFAF;
}

.desc {
  margin-bottom:  16px;
  /* white-space: nowrap; */
  /* overflow: hidden; */

  font-family: 'DM Sans';
  font-weight: 400;
  font-size: 14px;
  line-height: 1.28;

color: var(--primary-color);
}


.shopping_author{
  font-family: 'Italic';
  font-size: 12px;
  line-height: 1.16;
  color: #B4AFAF;

}

.title-part,
.title {
  font-family: 'DM Sans';
  font-weight: 700;
  font-size: 32px;
  line-height: 1.18;
  color: black;
}

.title {

margin-top: 40px;
margin-bottom: 40px;
margin-left: 20px;
margin-right: 162px;

color: #4F2EE8;
}

.btn-delete {
  display: flex;
  position: absolute;
  border: 2px solid #4F2EE8;
  background-color: #4F2EE8;
  top: 14px;
  right: 14px;

  border-radius: 50%;
  width: 28px;
  height: 28px;
  align-items: center;
  justify-content: center;
  padding: 6px;

  cursor: pointer;
}

.social-icon {
  position: absolute;
  right: 38px;
  bottom: 14px;
  width: 32px;
  height: 11px;
}
