body {
    font-family: 'DM Sans', sans-serif;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Seymour One', sans-serif;
}

:root {
    --primary-color: #111111;
    --secondary-color: #FFFFFF;
    --location-text-color: #4F2EE8;
    --accent-color: #EAC645;
    --background-color: #D0D0D0;
}